body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

.header{
background:white;
padding:10px;
display:flex;
justify-content:space-between;
}

.logo{
height:60px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.product{
background:white;
padding:10px;
border-radius:10px;
}

button{
padding:8px;
margin:5px;
background:#25D366;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

input, select{
margin:5px;
padding:5px;
}
