body{
font-family:Arial;
text-align:center;
background:white;
}

.logo{
height:120px;
margin:20px;
}

.product{
border:1px solid #ddd;
margin:10px;
padding:10px;
display:inline-block;
}

button{
background:green;
color:white;
padding:10px;
border:none;
cursor:pointer;
}